<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Events</title>
</head>
<body>
    <h1>All Events</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date and Time</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.name}">Event Name</td>
                <td th:text="${event.description}">Event Description</td>
                <td th:text="${event.dateTime}">Event DateTime</td>
                <td th:text="${event.category.name}">Event Category</td>
            </tr>
        </tbody>
    </table>
</body>
</html>