<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calendar</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <!-- Header Section -->
    <div class="header">
        <a href="/">Home</a>
        <a href="/event-form">Create Event</a>
        <a href="/all-events">All Events</a>
        <a href="/calendar">Calendar</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

    <div class="table-container">
        <h1>Calendar</h1>
        <div th:each="event : ${events}" class="event-card">
            <h2 th:text="${event.name}">Event Name</h2>
            <p th:text="${event.dateTime}">Event DateTime</p>
            <p th:text="${event.description}">Event Description</p>
            <p class="category" th:text="${event.category != null ? event.category.name : 'No Category'}">Event Category</p>
        </div>
    </div>
</body>
</html>