<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <!-- Header Section -->
    <div class="header">
        <a href="/">Home</a>
        <a href="/event-form">Create Event</a>
        <a href="/all-events">All Events</a>
        <a href="/calendar">Calendar</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <h1>Event Details</h1>
    <p><strong>Name:</strong> <span th:text="${event.name}">Event Name</span></p>
    <p><strong>Description:</strong> <span th:text="${event.description}">Event Description</span></p>
    <p><strong>Date and Time:</strong> <span th:text="${event.dateTime}">Event DateTime</span></p>
    <p><strong>Category:</strong> <span th:text="${event.category.name}">Event Category</span></p>
</body>
</html>